*,
*::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #f5f8ff;
}

/* shared container */
.container {
  max-width: 1150px;
  margin: 0 auto;
}

/* Navbar Style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.navbar ul {
  display: flex;
  gap: 40px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}
.navbar ul li a:hover {
  color: rgb(233, 90, 8);
  border-bottom: 1px solid rgb(233, 90, 8);
}
.nav_link {
  color: #8987a1;
}
.active {
  color: #252432;
}
.check_card {
  color: #000000;
}
.card_p {
  color: #000000;
  margin-left: -75px;
}

/* Banner Style */
.banner {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.banner_content {
  max-width: 50%;
  margin-top: 100px;
}
.banner_h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #000000;
  font-family: "Noto Serif", serif;
}
.banner_span {
  font-size: 4rem;
  font-weight: 700;
  color: #e95a08;
}
.banner_p {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
.banner_img {
  max-width: 50%;
}

/* Our Plants Section */
.our_plants_section {
  margin-top: 100px;
}
.our_plants_section h1 {
  font-size: 3.01rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
  font-family: "Noto Serif", serif;
}
.plants_span,
.latest_deals_span {
  color: #e95a08;
}
.our_plants_section p {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}

/* cards style */
.cards_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 49px;
}
.card {
  max-width: 270px;
  text-align: center;
}
.card h5 {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(17, 17, 17);
  margin-top: 15px;
}
.card h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(17, 17, 17);
  margin-top: 5px;
}
.our_plants_button {
  font-weight: 600;
  background-color: #e95a08;
  color: #fff;
  padding: 10px 25px;
  border: none;
  width: 100%;
  margin-top: 10px;
  display: block;
}
.our_plants_button:hover {
  font-weight: 600;
  background-color: #eacf4a;
  color: black;
  padding: 10px 25px;
  border: none;
  width: 100%;
  margin-top: 10px;
  display: block;
  cursor: pointer;
}

/* plants lover style */
.plants_lover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}
.plants_imas {
  max-width: 50%;
}
.img {
  max-width: 500px;
}
.budge {
  max-width: 200px;
  position: relative;
  top: -265px;
  left: -135px;
}
.plants_lover_content h1 {
  font-size: 3.2rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-family: "Noto Serif", serif;
  line-height: 60px;
}
.plants_lover_content p {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.plants_lover_content ul li {
  margin: 20px;
}

/* Latest Deals Style */
.latest_deals {
  text-align: center;
  margin-top: 130px;
}
.latest_deals h1 {
  font-size: 3.01rem;
  font-weight: 700;
  color: #000000;
  font-family: "Noto Serif", serif;
}
.latest_deals p {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

/* zabo plant style */
.zabo_plant {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 56px;
}
.zabo_plant_div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box {
  background-color: #8987a1;
  border-radius: 20px;
}
.box1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/deal-bloom.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  width: 450px;
  height: 200px;
}
.box2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/deal-ana.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 200px;
  background-color: #000000;
}
.box3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/deal-zabo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.box1 p {
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 70px;
  font-family: "Noto Serif", serif;
}
.box1 a {
  font-weight: 600;
  color: #fff;
  margin-left: 160px;
  margin-top: -10px;
  font-family: "Noto Serif", serif;
}
.box2 p {
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 70px;
  font-family: "Noto Serif", serif;
}
.box2 a {
  font-weight: 600;
  color: #fff;
  margin-left: 190px;
  margin-top: -10px;
  font-family: "Noto Serif", serif;
}
.box3 h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 150px;
  font-family: "Noto Serif", serif;
}
.box3 a {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  margin-left: 270px;
  margin-top: -10px;
  font-family: "Noto Serif", serif;
}

/* colorfull branch section */
.colorfull_bunch {
  background-image: url(../images/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 400px;
  height: 100%;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.colorfull_bunch h1 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Noto Serif", serif;
}
.colorful_bunch_input {
  max-width: 830px;
  width: 100%;
}
.colorful_bunch_input input {
  width: 60%;
  padding: 12px;
}
.colorful_bunch_input button {
  font-weight: 600;
  padding: 13px 30px;
  margin-left: -5px;
  border: none;
  background-color: #e95a08;
  color: #fff;
}
.colorful_bunch_input button:hover {
  font-weight: 600;
  padding: 13px 30px;
  margin-left: -5px;
  border: none;
  background-color: #eacf4a;
  color: black;
}

/* Footer area style */
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Img Content */
.img_content {
  max-width: 350px;
}
.img_content img {
  max-width: 30%;
}
.img_content p {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

/* Footer link */
.footer_link {
  display: flex;
  justify-content: space-between;
}
.footer_link ul {
  margin: 0 50px;
}
.footer_link ul li {
  line-height: 50px;
  list-style: none;
}
.footer_link li a {
  font-weight: 400;
  color: rgb(107, 114, 128);
  text-decoration: none;
}
.footer_link ul li a:hover {
  color: rgb(233, 90, 8);
  border-bottom: 1px solid rgb(233, 90, 8);
}

/* Footer icon */
.footer_icon {
  display: flex;
  align-items: center;
  margin-top: -200px;
}
.footer_icon a {
  margin: 0 10px;
}

/* Mobile device Responsive*/
@media screen and (max-width: 576px) {
  /* For Navbar */
  .nav_link,
  .active {
    opacity: 0;
    margin-left: 50px;
  }
  .navbar {
    margin-top: 20px;
  }
  .navbar img {
    margin-left: 20px;
  }

  /* For Banner */
  .banner {
    flex-direction: column-reverse;
    margin: 15px;
  }
  .banner_img {
    margin-left: 140px;
  }
  .banner_h1 {
    width: 700px;
  }
  .banner_p {
    width: 590px;
  }

  /* For our Plants */
  .our_plants_section {
    width: 550px;
    margin-left: 20px;
  }
  .cards_section {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    padding: 10px;
    margin-left: 30px;
  }
  .our_plants_section p {
    margin-right: -20px;
    max-width: 100%;
  }
  .our_plants_section h1 {
    margin-right: -50px;
  }

  /* For plants lover */
  .plants_lover_content {
    order: 2;
  }
  .plants_lover {
    flex-direction: column;
    margin-top: 50px;
  }
  .budge {
    display: none;
  }
  .img {
    max-width: 1000px;
    margin-right: -290px;
    margin-bottom: 20px;
    order: 1;
  }
  .plants_lover_content h1 {
    width: 590px;
    margin-left: 200px;
  }
  .plants_lover_content ul li {
    width: 500px;
    margin-left: 240px;
    line-height: 40px;
  }

  /* latest deal */
  .latest_deals {
    width: 450px;
    margin-left: 100px;
  }
  .box1,
  .box2,
  .box3 {
    width: 650px;
    height: 300px;
    margin: 20px 35px;
  }
  .zabo_plant {
    max-width: 100%;
    flex-direction: column;
  }
  .zabo_plant_div {
    flex-direction: column;
  }
  /* colorfull bunch */
  .colorfull_bunch {
    width: 725px;
  }

  /* Footer Area style */
  .footer,
  .footer_link {
    flex-direction: column;
  }
  .img_content,
  .footer_link {
    margin: 20px;
  }
  .img_content p {
    width: 500px;
    margin: 10px;
  }
  .footer_link ul {
    margin: 20px;
  }
  .footer_icon {
    margin-top: 0px;
  }
  .footer_icon a {
    margin: 30px;
  }
}
